@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to transaction WebApp</h1>
    <p>Hello Guys...</p> 
    <p>This is simple crud webapp which use the mvc pattern for </p> <br />
    <p>MVC (Model-View-Controller) is a pattern in software design commonly used to implement user interfaces, data, and controlling logic. It emphasizes a separation between the software's business logic and display.</p>
    <button type="button" class="btn btn-dark">
         <a asp-action="Transactions" class="btn " >
                  <i class="fa-solid fa-diamond-turn-right"></i> Transactions
                    </a>
    </button>

    
</div>
